
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
@{
    if(ViewBag.MySession!=null)
    {
        <p style="color:cornflowerblue">@ViewBag.MySession</p>
    }
}
<a asp-controller="User" asp-action="Logout">Logout</a>

