@model Asp.net_core_Mvc.Models.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form asp-action="Checkbox" asp-controller="Home" >
    @foreach (var item in Model.CheckBoxes)
    {
        <input type="checkbox" value="@item.Value" class="form-control-input" id="checkbox_@item.Value" name="CheckText" checked="@item.isChecked" />
        <label class="form-check-label" for="flexCheckDefault">@item.Text</label>
    }

    <input type="submit" value="Submit" />
</form>
