@model Asp.net_core_Mvc.Models.StudentModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="StudentView">
<label>Select Student</label>

@* <select asp-for="Id" asp-items="@(new SelectList(Model.StudentList,"Value","Text"))" class="form-control"></select> *@

@Html.DropDownListFor(i => i.Id,new SelectList(Model.StudentList,"Value","Text"), new{@class = "form-control"});

<input type="submit" value="Submit" />
</form>